<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>hello evryone out there  </h1>
        <p><%=qs.dept%></p>
    </body>
</html>